#body{
width:1000px;
top:0px;
left:50%;
background:rgba(25,0,255,0.5);
margin-left:-500px;
position:absolute;
padding:5px;
 float:left;
overflow:hidden;
}

#boton1{
width:100px;
height:100px;
background:rgba(25,0,255,0.5);
position:relative;
float:left;
overflow:hidden;
}

#boton1:hover{
background:rgba(255,0,255,0.5);
}

#boton2{
width:100px;
height:100px;
background:rgba(25,0,255,0.5);
position:relative;
float:left;
overflow:hidden;
}

#boton2:hover{
background:rgba(255,0,255,0.5);
}

#boton3{
width:100px;
height:100px;
background:rgba(25,0,255,0.5);
position:relative;
float:left;
overflow:hidden;
}

#boton3:hover{
background:rgba(255,0,255,0.5);
}

#boton4{
width:100px;
height:100px;
background:rgba(25,0,255,0.5);
position:relative;
float:left;
overflow:hidden;
}

#boton4:hover{
background:rgba(255,0,255,0.5);
}